{% extends 'layout.html' %}

{% block body %}


    <div class="ui container">
<h1>Sign in</h1>

<form action="/signin" method="post" class="ui form">


    <div class="field">
    <label>Username</label>
     <input placeholder="username" name="username" type="text">
  </div>

    <div class="field">
    <label>Password</label>
     <input placeholder="password" name="password" type="password">
  </div>

    <button type="submit" class="ui button">Sign in</button>
</form>
</div>
{%  endblock %}